h1 {
    text-align: center;
    color: #FF3CEA;
}

a {
    font-size: 25px;
    color: #FF3CEA;
    text-align: center;
}

body {
    background-color: #373737;
    text-align: left;
    color:white;
}

img {
    max-height: 20%;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#index-ul {
    text-align: center;
}

h4 {
    text-decoration: underline;
}


